.randomizer-items {
    display: flex;
    flex-direction: column;

    width: 50vw;
}

.randomizer-items > p {
    color: var(--cPalette-3);
    text-align: center;
}

.randomizer-items > p:first-child {
    margin: 0;

    font-size: 25px;
    font-weight: bold;
}

.answer-block {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2.5em;

    text-align: center;
    color: white;

    border-radius: 10px 10px 0 0;
    background-color: var(--cPalette-3);
}

.buttons_container {
    display: flex;
    flex-direction: row;

    width: 100%;
}

.buttons_container input {
    width: 50%;

    padding: 5px 0 5px 0;

    border: 0;
    border-top: 1px solid rgb(102, 102, 102);
    border-bottom: 1px solid rgb(102, 102, 102);
    background-color: var(--cPalette-3);
    transition: all 500ms;
}

.buttons_container input:hover {
    background-color: var(--cPalette-2);
}

textarea {
    height: 8em;
    width: 100%;
    padding: 0.4em 0.7em;

    background-color: var(--cPalette-3);
    color: white;
    border: none;
    border-radius: 0px 0px 20px 20px;

    transition: all 500ms;
    resize: none;
}

textarea:focus {
    border-radius: 0 0 10px 10px;
}

#submit-button {
    padding: 10px 0px;

    color: var(--cButtons-color);
    background-color: var(--cButtons-bg);
    border: none;
    border-radius: 20px;

    cursor: pointer;
    transition: all 500ms;
}

#submit-button:hover {
    color: white;
    background-color: var(--cPalette-3);
    border-radius: 10px;
}

/* 

    MODULAR CLASSES

*/
.blue-background {
    background-color: var(--cPalette-2) !important;
}


/* 

    MEDIA QUERIES 
    
*/
@media (max-width: 800px) {
    .randomizer-items {
        width: 80%;
    }
}