section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    background-color: transparent;
}

section > form input {
    width: 100%;

    padding: 5px 15px 5px 15px;

    color: white;
    background-color: var(--cPalette-3);
    border: 1px solid #818181;
    border-radius: 20px;
    outline: transparent;

    transition: border-radius 500ms;
}

section > form input:focus {
    border-radius: 10px;
}

section > h2 {
    font-size: 25px;
    font-weight: bold; 
    text-align: center;
    color: var(--cPalette-3);
}

section > p {
    color: var(--cPalette-3);
}

button {
    padding: 10px 0px;

    color: var(--cButtons-color);
    background-color: var(--cButtons-bg);
    border: none;
    border-radius: 20px;

    cursor: pointer;
    transition: all 500ms;
}

button:hover {
    background-color: var(--cPalette-3);
    color: white;
    border-radius: 10px;
}

#output_field {
    display: flex;
    justify-content: center;

    width: 100%;

    padding: 20px;

    border: 1px solid #818181;
    border-radius: 10px;
    background-color: #4950577e;
}

.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
}
  
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (min-width: 992px) {
    #wrapper > section {
        width: 50%;
    }
}

@media (min-width: 1300px) {
    #wrapper > section {
        width: 40%;
    }
}

@media (max-width: 991px) {
    #wrapper > section {
        width: 60%;
    }
}

@media (max-width: 767px) {
    #wrapper > section {
        width: 85%;
    }
}